node_modules
dist
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Android and Build artifacts
AndroidProject/
AndroidTmp/
APK/
APK FullEnvios/
dist/
tmp/
driver-app/node_modules/
driver-app/android/
driver-app/ios/
driver-app/.expo/
